body, .row{
  margin: 0;
  padding: 0;
}

.nav-bar{
  background-color: white;
}

.brand-logo{
  color: pink;
}

.nav-bar a {
   color: #01BFB3;
}

.welcome{
  background-image: url(../img/welcome-banner-edit.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.first-section{
  width: 100%;
  height:100vh;
}

.title{
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #27D1DE;
  color: #E686A2;
  margin-right: 2%;
}

.subtitle{
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #27D1DE;
  color: white;
  margin-right: 2%;
}

.waves{
  width: 100%;
  margin-bottom: -1%;
}

.wave-png{
  padding: 0;
  margin: 0;
  margin-top: 26%;
}

.row, .col {
  padding: 0 !important;
}

.about{
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#e686a2, #B55C80);
}

.about-title{
  color: #27D1DE;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #ffffff;
}

.my-skills{
  width: 100%;
  height: 100vh;
  background-color : #ffffff;
}

.sk-title{
  background-color: #B55C80; 
}

.skills-title{
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #27D1DE;
  margin-bottom: 3%;
}

.skill-cont{
  height: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}

/*.skill-cont img{
  filter: blur(3px);
}

.skill-cont img:hover{
  filter: blur(0);
  transition: 0.3s linear;
}*/

.portfolio{
  width: 100%;
  height:100vh;
  background-color: #01BFB3;
  margin-top: 6%;
}

.waves2{
  width: 100%;
  margin-bottom: -1%;
}

.portfolio{
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #e686a2;
  margin-bottom: 3%;
}

.foo{
  width: 100%;
  height: 100vh;
  background-color: pink;
}

.first-site{
  background-image: url(../img/sites/site1.jpg);
  width: 50%;
  height: auto;
}

.second-site{
  background-image: url(../img/sites/site2.jpg);
  width: 50%;
  height: auto;
}

.third-site{
  background-image: url(../img/sites/site3.jpg);
  width: 50%;
  height: auto;
}

.fourth-site{
  background-image: url(../img/sites/site4.jpg);
  width: 50%;
  height: auto;
}

.fifth-site{
  background-image: url(../img/sites/site5.jpg);
  width: 50%;
  height: auto;
}

.site-title{
  color: black;
}

.carousel-item{
  height: 100vh;
}

.carousel{
  height: 85vh;
}

.portfolio-title{
  height: 15vh;
}